USE [SciFiAwards]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HugoNovels_Authors]') AND parent_object_id = OBJECT_ID(N'[dbo].[Novels]'))
ALTER TABLE [dbo].[Novels] DROP CONSTRAINT [FK_HugoNovels_Authors]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Nominations_Novels]') AND parent_object_id = OBJECT_ID(N'[dbo].[Nominations]'))
ALTER TABLE [dbo].[Nominations] DROP CONSTRAINT [FK_Nominations_Novels]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Nominations_Awards]') AND parent_object_id = OBJECT_ID(N'[dbo].[Nominations]'))
ALTER TABLE [dbo].[Nominations] DROP CONSTRAINT [FK_Nominations_Awards]
GO
/****** Object:  Index [IX_Authors]    Script Date: 4/12/2016 6:04:00 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Authors]') AND name = N'IX_Authors')
DROP INDEX [IX_Authors] ON [dbo].[Authors]
GO
/****** Object:  Table [dbo].[Novels]    Script Date: 4/12/2016 6:04:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Novels]') AND type in (N'U'))
DROP TABLE [dbo].[Novels]
GO
/****** Object:  Table [dbo].[Nominations]    Script Date: 4/12/2016 6:04:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nominations]') AND type in (N'U'))
DROP TABLE [dbo].[Nominations]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 4/12/2016 6:04:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Awards]') AND type in (N'U'))
DROP TABLE [dbo].[Awards]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 4/12/2016 6:04:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Authors]') AND type in (N'U'))
DROP TABLE [dbo].[Authors]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 4/12/2016 6:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Authors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Authors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[DateOfDeath] [date] NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 4/12/2016 6:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Awards]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Awards](
	[ID] [int] NOT NULL,
	[AwardName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Nominations]    Script Date: 4/12/2016 6:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nominations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Nominations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[AwardID] [int] NOT NULL,
	[YearNominated] [int] NOT NULL,
	[IsWinner] [bit] NOT NULL,
 CONSTRAINT [PK_Nominations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Novels]    Script Date: 4/12/2016 6:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Novels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Novels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[AuthorID] [int] NOT NULL,
 CONSTRAINT [PK_HugoNovels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (78, N'Edgar Rice Burroughs', NULL, NULL)
INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (79, N'E. E. Smith', NULL, NULL)
INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (80, N'Jack Williamson', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Authors] OFF
INSERT [dbo].[Awards] ([ID], [AwardName]) VALUES (1, N'Hugo')
INSERT [dbo].[Awards] ([ID], [AwardName]) VALUES (2, N'Nebula')
SET IDENTITY_INSERT [dbo].[Nominations] ON 

INSERT [dbo].[Nominations] ([ID], [BookID], [AwardID], [YearNominated], [IsWinner]) VALUES (1, 1, 2, 1981, 0)
INSERT [dbo].[Nominations] ([ID], [BookID], [AwardID], [YearNominated], [IsWinner]) VALUES (2, 2, 1, 1946, 0)
INSERT [dbo].[Nominations] ([ID], [BookID], [AwardID], [YearNominated], [IsWinner]) VALUES (3, 3, 1, 1969, 0)
GO
SET IDENTITY_INSERT [dbo].[Nominations] OFF
SET IDENTITY_INSERT [dbo].[Novels] ON 

INSERT [dbo].[Novels] ([ID], [Title], [AuthorID]) VALUES (1, N'Radix', 499)
INSERT [dbo].[Novels] ([ID], [Title], [AuthorID]) VALUES (2, N'The World of Null-A', 83)
INSERT [dbo].[Novels] ([ID], [Title], [AuthorID]) VALUES (3, N'Rite of Passage', 150)
GO
SET IDENTITY_INSERT [dbo].[Novels] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Authors]    Script Date: 4/12/2016 6:04:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Authors]') AND name = N'IX_Authors')
CREATE UNIQUE NONCLUSTERED INDEX [IX_Authors] ON [dbo].[Authors]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Nominations_Awards]') AND parent_object_id = OBJECT_ID(N'[dbo].[Nominations]'))
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Awards] FOREIGN KEY([AwardID])
REFERENCES [dbo].[Awards] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Nominations_Awards]') AND parent_object_id = OBJECT_ID(N'[dbo].[Nominations]'))
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Awards]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Nominations_Novels]') AND parent_object_id = OBJECT_ID(N'[dbo].[Nominations]'))
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Novels] FOREIGN KEY([BookID])
REFERENCES [dbo].[Novels] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Nominations_Novels]') AND parent_object_id = OBJECT_ID(N'[dbo].[Nominations]'))
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Novels]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HugoNovels_Authors]') AND parent_object_id = OBJECT_ID(N'[dbo].[Novels]'))
ALTER TABLE [dbo].[Novels]  WITH CHECK ADD  CONSTRAINT [FK_HugoNovels_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HugoNovels_Authors]') AND parent_object_id = OBJECT_ID(N'[dbo].[Novels]'))
ALTER TABLE [dbo].[Novels] CHECK CONSTRAINT [FK_HugoNovels_Authors]
GO
