/****** Object:  Table [dbo].[Authors]    Script Date: 4/9/2016 9:42:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[DateOfDeath] [date] NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HugoNovels]    Script Date: 4/9/2016 9:42:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HugoNovels](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[YearNominated] [int] NOT NULL,
	[IsWinner] [bit] NULL,
 CONSTRAINT [PK_HugoNovels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (1, N'George R. R. Martin', NULL, NULL)
INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (2, N'Robert J. Sawyer', NULL, NULL)
INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (3, N'Ken MacLeod', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Authors] OFF
INSERT [dbo].[HugoNovels] ([ID], [Title], [AuthorID], [YearNominated], [IsWinner]) VALUES (1, N'A Storm of Swords', 1, 2001, 0)
INSERT [dbo].[HugoNovels] ([ID], [Title], [AuthorID], [YearNominated], [IsWinner]) VALUES (2, N'Calculating God', 2, 2001, 0)
INSERT [dbo].[HugoNovels] ([ID], [Title], [AuthorID], [YearNominated], [IsWinner]) VALUES (3, N'The Sky Road', 3, 2001, 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Authors]    Script Date: 4/9/2016 9:42:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Authors] ON [dbo].[Authors]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HugoNovels]  WITH CHECK ADD  CONSTRAINT [FK_HugoNovels_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([ID])
GO
ALTER TABLE [dbo].[HugoNovels] CHECK CONSTRAINT [FK_HugoNovels_Authors]
GO
